{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <section class="admin_panel-wrapper d-flex p-4">
        <div class="navigation flex-3 bg-dark">
            <h1>Administration</h1>
        </div>
        <div class="content flex-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum veniam, illo vero laboriosam quaerat aliquid corrupti. Aliquid omnis debitis tempora natus officia suscipit molestias possimus deserunt at nobis. Recusandae, ipsam!</p>
        </div>
    </section>
{% endblock %}
