{% extends 'home.html.twig' %}

{% block body %}

	<header class="p-5 bg-light text-center">
		<h1 class="jumbotron-header">Welcome to userland</h1>
		<p class="jumbotron-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aut ducimus repellat, dignissimos dolor itaque iusto! Ipsam at dicta, molestiae, maxime possimus, amet laudantium voluptatum cupiditate suscipit earum repellendus autem.</p>
	</header>

	<main class="main">
		<div class="container">
			<h2 class="text-muted">See what we got</h2>
			<div class="row">
				<div class="col-md-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequatur!</div>
				<div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, eum?</div>
				<div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, eum?</div>
				<div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, eum?</div>
			</div>
		</div>
	</main>

{% endblock %}
