{% extends 'base.html.twig' %}

{% block title %} Admin Panel {% endblock %}

{% block body %}
    <section class="panel-wrapper d-flex justify-content-between">
        <div class="navigation"></div>
        <div class="content"></div>
    </section>
{% endblock %}